.interactive_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}
.interactive_item {
  width: 25%;
  position: relative;
}
.interactive_pic img {
  width: 100%;
  vertical-align: middle;
}
.interactive_item .interactive_txt {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.7s;
}
.interactive_item .interactive_txt h2 {
  font-size: 40px;
  color: yellow;
  font-weight: 500;
}
/*動畫範圍*/
.interactive_item h2:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin: 10px 0;
  background-color: #ff0;
  transition: width 0.5s 0.3s;
}
.interactive_item:hover h2:after {
  width: 100%;
}
/*動畫範圍*/
.interactive_item .interactive_txt p {
  font-size: 20px;
  color: white;
  font-weight: 100;
}
.interactive_item:hover > .interactive_txt {
  opacity: 1;
}
@media screen and (max-width: 379px) {
  .interactive_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .interactive_item {
    width: 100%;
    position: relative;
  }
}
