.nav_louisa_body {
  background: linear-gradient(0deg, #fe70d8, #3713c1);
}
.nav_louisa_body .nav_louisa_wrap {
  display: flex;
  padding: 20px;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
}
.nav_louisa_body .nav_louisa_logo {
  width: 200px;
}
.nav_louisa_body .nav_louisa_logo img {
  width: 100%;
  vertical-align: middle;
}
.nav_louisa_wrap .nav_louisa_main-nav,
.nav_louisa_wrap .nav_louisa_main-nav nav {
  display: flex;
  margin: auto;
}
.nav_louisa_body .nav_louisa_main-nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px 1em;
  position: relative;
  /*不加這個會超出去,因為絕對定位,需要父層的相對定位定在裡面*/
  transition: 0.5s;
  transform: translateY(0px);
}
.nav_louisa_body .nav_louisa_main-nav a:hover {
  transform: translateY(-30px);
}
/*超連結上的展開線*/
.nav_louisa_body .nav_louisa_main-nav a:after {
  content: "";
  position: absolute;
  left: 50%; /*將互動的線壓在正中央*/
  right: 50%; /*將互動的線壓在正中央*/
  height: 0;
  bottom: 0px;
  border-bottom: 1px solid #fff;
  transition: 0.5s;
}
.nav_louisa_body .nav_louisa_main-nav a:hover:after {
  left: 0%; /*將互動的線往左右兩邊*/
  right: 0%; /*將互動的線往左右兩邊*/
} /*超連結上的展開線*/

.nav_louisa_body .nav_louisa_header-search {
  display: flex;
}

.nav_louisa_wrap .nav_louisa_header-search label,
.nav_louisa_wrap .nav_louisa_header-search input {
  border: none;
  background-color: white;
  padding: 5px 10px;
  height: 30px;
  outline: none;
}
.nav_louisa_wrap .searcg_local {
  position: relative;
}
.nav_louisa_wrap .searcg_local .nav_louisa_header-search label {
  border-radius: 200px;
  position: relative;
}
.nav_louisa_wrap .searcg_local .nav_louisa_header-search input {
  border-radius: 200px 0 0 200px;
  padding-left: 20px;
  position: relative;
  transition: 1s;
  width: 0%;
  opacity: 0;
}
#checkbox11 {
  display: none;
}
#checkbox12 {
  display: none;
}
.display_block_menu {
  display: none;
}

@media screen and (max-width: 415px) {
  .nav_louisa_body .nav_louisa_wrap {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .nav_louisa_body .nav_louisa_wrap .nav_louisa_main-nav {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -150px;
  }

  .nav_louisa_body .nav_louisa_wrap .nav_louisa_main-nav nav {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -15px;
    transition: 1s;
  }

  .display_block_menu {
    display: block;
    position: absolute;
    left: 10px;
    font-size: 20px;
  }
  .nav_louisa_body .nav_louisa_wrap .nav_louisa_main-nav .nav_menu_hide {
    display: none;
  }
  .searcg_local {
    display: none;
    position: absolute;
    left: -80px;
  }
  #checkbox12 {
    display: none;
  }
  .nav_menu_hide li {
    padding: 5px;
    margin: 10px auto;
  }
}

@media screen and (max-width: 769px) {
  .nav_louisa_body .nav_louisa_wrap {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}
