.rice_out {
  margin: 10px auto;
}

.rice_header {
  width: 100%;
  padding: 6px 10px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.rice_header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rice_header ul a {
  margin: auto 10px;
  text-decoration: none;
  color: burlywood;
  font-size: 20px;
}
.rice_header ul a:hover {
  color: rgb(230, 223, 215);
}
.rice_banner > img {
  width: 100%;
}
.rice_path {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
.rice_path a {
  margin: 0 10px;
  padding: 6px 8px;
  text-decoration: none;
  color: #aaa;
  font-size: 15px;
}

.rice_path li + li::before {
  content: "/";
}
.rice_wrap {
  width: 960px;
  margin: auto;
}
.rice_about {
  background-color: #ccc;
  padding: 40px 0;
}
.rice_about .rice_wrap {
  display: flex;
  padding: 10px;
}
.rice_about .rice_wrap .rice_item {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
.rice_about h1 {
  width: 100%;
  text-align: center;
  font-size: 42px;
  padding: 20px 0;
}
.rice_about .rice_wrap img {
  border-radius: 50%;
}
.rice_about h3 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 20px 0;
}
.rice_about > p {
  width: 600px;
  margin: auto;
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
}
.rice_item {
  position: relative;
}
.rice_info {
  position: absolute;
  box-sizing: border-box;
  top: 0px;
  text-align: center;
  left: 100px;
  opacity: 0;
  transition: 0.7s;
}
.rice_info:hover {
  opacity: 1;
}
.rice_products {
  margin: 20px 0 0 0;
}
.rice_products .rice_wrap {
  display: flex;
}
.rice_products .rice_item {
  width: 50%;
}
.rice_products img {
  width: 100%;
}
.rice_products .rice_text {
  padding: 0 20px;
  text-align: center;
  line-height: 1.5;
  color: #fff;
  /* border: 1px #ccc solid; */
}
.rice_products .rice_item h3 {
  font-size: 40px;
}

.rice_service .rice_wrap {
  display: flex;
  flex-direction: row;
}
.rice_service .rice_item {
  margin: 0 10px;
  width: 300px;
  color: #fff;
}
.rice_service img {
  width: 100%;
}
.rice_service h2 {
  margin: 960px;
  margin: auto;
  text-align: center;
  font-size: 40px;
  padding: 20px 0;
  color: #fff;
}
.rice_service h3 {
  margin: 960px;
  margin: auto;
  text-align: center;
}
.rice_service p {
  margin: 960px;
  margin: auto;
  text-align: center;
  padding-bottom: 40px;
  color: #fff;
}
.rice_footer {
  width: 100%;
  height: 50px;
  text-align: right;
  color: #aaa;
  font-size: 17px;
  background-color: black;
  line-height: 50px;
  padding: 0 20px;
}
