#side_menu .side_menu_logo {
  margin: 0 auto 20px auto;
}
#side_menu {
  width: 300px;
  height: 100%;
  background: linear-gradient(0deg, #3381b0, #c2196c);
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  box-sizing: border-box;
  box-shadow: 5px 0px 10px hsla(240, 40%, 15%, 0.6);
  position: fixed;
  transform: translateX(-100%);
  top: 0;
  transition: 1s;
  z-index: 1;
  opacity: 0.9;
}

#side_menu form {
  display: flex;
  margin: 0 10px 50px;
  border-radius: 100px;
  border: 1px solid rgba(225, 225, 225, 0.5);
}
#side_menu form input,
#side_menu form button {
  border: none;
  padding: 5px 10px;
  background-color: transparent;
  color: #fff;
  outline: none;
}

#side_menu form input {
  width: 230px;
}
#side_menu form button {
  width: 50px;
}
#side_menu .nav {
  display: flex;
  flex-direction: column;
}
#side_menu .nav a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-family: "Noto Sans TC", sans-serif;
}

#side_menu .nav li {
  position: relative;
  border-radius: 0 10px 10px 0;
}
#side_menu .nav li + li a:before {
  content: "";
  position: absolute;
  border-top: 1px solid rgba(225, 225, 225, 0.5);
  left: 10px;
  right: 10px;
  top: 0;
}
#side_menu .nav li .fas,
#side_menu .nav li .fas {
  position: relative;
  left: -30px;

  transform: scale(0);
  transition: 0.3s;
}
#side_menu .nav li:hover .fas {
  left: -5px;
  transform: scale(1);
}
#side_menu .nav li:hover > a {
  background-color: rgba(0, 0, 0, 0.5);
}
#side_menu label {
  width: 40px;
  height: 80px;
  position: absolute;
  background: linear-gradient(90deg, #3381b0, #c2196c);
  color: #fff;
  margin: auto;
  left: 300px;
  top: 1px;
  line-height: 80px;
  text-align: center;
  border-radius: 0 10px 10px 0;
  font-size: 40px;
  transition: 1s;
}
#side_menu_switch {
  position: fixed;
  opacity: 0;
}
#side_menu label i {
  transition: 1s;
}
#side_menu_switch:checked + #side_menu {
  transform: translateX(0);
}
#side_menu_switch:checked + #side_menu label i {
  transform: rotate(540deg);
}

#side_menu .nav ul {
  position: absolute;
  display: none;
  left: 100%;
  width: 300px;
  background: linear-gradient(0deg, #3381b0, #c2196c);
  opacity: 0.9;
  box-shadow: 5px 5px 10px hsla(240, 40%, 15%, 0.6);
  top: 0;
}
#side_menu .nav li:hover > ul {
  display: block;
}
